.anchor {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 900;

  text-transform: uppercase;
}

.contain {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contain__description {
  padding: 30px 0;
}

.circle {
  width: 6px;
  height: 5px;
  background-color: #00ff00;
  position: absolute;
  top: 21%;
  left: -17px;
  border-radius: 9px;
}

.case {
  font-size: 13px;
  color: #8e8e8e;
  line-height: 1;
}

.hireme {
  position: relative;
  margin-top: 35px;
}

.hireme__link {
  color: #0083ff;
}

.blue {
  color: #222;
}

.hireme__link:hover {
  text-decoration: underline;
}

.social, .blue, .proj__contain a {
  transition: all 0.5s ease;
}

.social:hover, .blue:hover, .proj__contain a:hover {
  color: #0083ff;
}

.bio {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio__title {
  font-size: 20px;
  margin: 10px 0;
}

/* these styles are for the blog and projects */

.proj, .form {
  align-items: center;
  display: flex;
  margin: 35px auto;
  max-width: 1360px;
  width: 100%;
}

.proj__contain {
  width: 100%;
}

.proj p, .highlight {
  line-height: 1.6;
  margin: 25px 0;
  font-size: 18px;
  letter-spacing: -0.063px;
}

.proj h1 {
  letter-spacing: -0.4px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.8);

  margin: 15px 0;
  text-align: center;
  color: #3F51B5;
}

.proj h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  line-height: 1.22;
  letter-spacing: -.312px;
  margin: 57px 0 22px 0;
}

.proj img {
  max-width: 500px;
  height: 200px;
}

.proj ul {
  font-size: 18px;
  padding: 0 0 0 30px;
  list-style-type: disc;
}

.proj__bg-color {
  background-color: #efeded;
}

/* blog */

.contain-post {
  display: flex;
  margin: 0 10px;
}

.archive {
  display: none;
  width: 70%;
}

.archive li {
  margin: 2px 0;
}

.archive li a {
  text-decoration: underline;
}

.archive li a:hover {
 font-weight: normal;
}

@media screen and (min-width: 961px) {

  .contain-post {
    margin: 0;
  }

  .proj p, .proj ul {
    font-size: 21px;
  }

  .proj ul {
    padding: 0 0 0 45px;
  }

  .archive {
    display: block;
  }

  .proj, .form {
    width: 73.7%;
  }

  .proj h1 {
    font-size: 32px;
  }

  .circle {
    top: 39%;
  }

  .hireme {
    margin-top: 50px;
  }
}
