/* syntax highlighting for the blog */

.highlight {
  color: #fff;
  background-color: #272822;
  padding: 10px;

  font-size: 19px;
}

.highlight .c1 {
  color: #75715e;
}

.highlight .c {
  color: #9c9c9c
}

.highlight .nx, .highlight .nb, .highlight .nf {
  color: #268BD2;
}

.highlight .o {
  color: #fff;
}

.highlight .kd, .highlight .k {
  color: #c537dd;
}

.highlight .s, .highlight .nc {
  color: #ffa500;
}

.highlight .s1, .highlight .s2, .highlight .m {
  color: #a6e22e;
}

.highlight .p {
  color: #ded9d9;
}

.highlight .mi {
  color: orange;
}

.highlight .kc {
  color: #f5d1d7;
}

.highlight .nt {
  color: #690;
}

.highlight .nl {
  color: #905;
}

.highlight .n {
  color: #DD4A68;
}

.highlight .na {
  color: #4CAF50;
}

.highlight__code {
  background-color: rgba(220,220,220,.5);
  padding: 0 2px;
  border-radius: 2px;
}

p.highlight__file-desc {
  color: grey;
  text-align: right;
  margin-bottom: 8px;
  font-size: 17px;
}

pre.highlight {
  overflow-x: auto;
}
