---
layout: default
meta: Brian Munoz blog which gives explanations of advance topics in html, css and javascript.
title: Blog
changefreq: weekly
---

<section class="contain-post">
  <ul class="post">
    {% for post in site.posts %}
    <li class="post__contain">
      <div class="post__img">
        <a href="{{ site.baseurl }}{{ post.url }}">  
        <img src="{{ site.baseurl }}/{{ post.pic }}" alt="{{ post.title }}">
        </a>
      </div>
      <div class="post__meta">
        <h3 class="post__title"> <a class="blue" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> </h3>
        <p class="post__excerpt">{{ post.meta }}  <a class="blue" href="{{ site.baseurl }}{{ post.url }}">read more</a> </p>
      </div>
    </li>
    {% endfor %}
  </ul>

  {% for post in site.posts %}
     {% assign currentDate = post.date | date: "%Y" %}
     {% if currentDate != myDate %}
     <section class="archive">
         {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a class="blue" href="{{site.baseurl}}{{ post.url }}"><span>{{ post.date | date: "%B %-d" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}
       <li><a class="blue" href="{{site.baseurl}}/tags">all tags</a></li>
      </ul>
     </section>
     {% endif %}
   {% endfor %}

</section>
