<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124255310-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-124255310-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- seo -->
    <meta name="description" content="{% if page.meta %}{{ page.meta }} {{ site.title }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if page.meta %}{{ page.meta }} {{ site.title }}{% else %}{{ site.description }}{% endif %}">
    <title>
      {%if page.title %}
        {{ page.title }} · {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>


    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}

    {% if page.css %}
    <!-- specific styles for blog -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/blog-styles/{{ page.css }}">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>
  <body>
    <main>
      {% include nav.html %}
      {{ content }}
    </main>
  </body>
</html>
